body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 650px;
    margin: 0 auto;    
}

.name {
    font-size: 1.75em;
}

.score {
    font-size: 1.5em;
    font-weight: bold;
}

.stat {
    font-size: 1.5em;
}

.teams {
    font-size: .8em;
    color: #777;
}

.table > thead > tr > th {
  text-align: center;
}

.table > tbody > tr > td { 
  border: none;
}

.td-center {
  text-align: center;
}
